//基础颜色
$white_color:#fff !default;
$def_color:#f7f7f8 !default;//default color
$gray_color:#edf1f2 !default;
$info_color:#0aa770 !default;
$primary_color:#00bcd4 !default;
$warn_color:#ff9800 !default;
$danger_color:#ff0000 !default;
$light_block_color:#9d9d9d !default;
$block_color:#2b2a2a !default;


//基本的数字
$none:0;
$xs:2px;
$sm:5px;
$normal:15px;
$md:20px;
$lg:30px;
//number +
$n35:35px;
$n40:40px;
$n45:45px;
$n50:50px;
$n60:60px;
$n70:70px;
